Checks: <
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  -clang-diagnostic-#pragma-messages,
  cppcoreguidelines-*,
  concurrency-*,
  performance-*,
  portability-*
HeaderFilterRegex: ".*"
ExcludeHeaderFilterRegex: "(blake3|fizzy|fourq)/.*"
